@import "./base/_index.css";
@import "./_animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-intersect {
    -webkit-mask-composite: source-in; /* For Chrome */
    mask-composite: intersect; /* For Firefox */
  }

  .dotted-underline {
    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 1.7px;
      width: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='4' height='2' viewBox='0 0 4 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1.7' height='1.7' rx='0.85' fill='%23D1D1D1' style='fill:%23D1D1D1;fill:color(display-p3 0.8196 0.8196 0.8196);fill-opacity:1;'/%3E%3C/svg%3E%0A");
      background-size: 3.4px 1.7px;
      background-repeat: repeat-x;
    }
  }
}

:root {
  --container-width: 1112px;
  --container-width-padding: 1144px;
}

.cmw-container {
  @apply lg-max:cmw-[356px,16px] lg:cmw-[1112px,16px];
}

.container {
  max-width: min(calc(100% - 32px), var(--container-width));
  --padding: 16px;
  @apply mx-auto;
}

@screen lg-max {
  :root {
    --container-width: 356px;
    --container-width-padding: var(--container-width);
  }

  .container {
    --padding: 0px;
  }

  .text-body-large {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.09px;
  }

  .text-body-medium {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
  }

  .text-title-h1 {
    font-size: 44px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.22px;
  }

  .text-title-h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.22px;
  }

  .text-body-x-large {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.11px;
  }

  .text-label-small {
    font-size: 15px;
    font-weight: 450;
    line-height: 22px;
  }

  .text-label-large {
    font-size: 18px;
    font-weight: 450;
    line-height: 26px;
    letter-spacing: -0.09px;
  }

  .text-label-x-large {
    font-size: 22px;
    font-weight: 450;
    line-height: 30px;
    letter-spacing: -0.11px;
  }

  .text-label-medium {
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
  }

  .text-title-h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.36px;
  }

  .text-body-small {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }

  .text-mono-medium {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
  }

  .text-mono-small {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .text-mono-x-small {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
