.schema-editor {
  @apply before:inside-border before:border-black-alpha-8 rounded-16 p-16 relative before:z-[2];
}

.jsoneditor {
  border: 0 !important;
}

.ace_gutter {
  background: transparent !important;
  color: var(--black-alpha-16) !important;
}

.ace-jsoneditor .ace_gutter-active-line {
  background: transparent !important;
}

.ace_variable {
  color: var(--accent-black);
}

.ace_string {
  color: var(--heat-100) !important;
}

.ace_bracket,
.ace_active-line {
  opacity: 0 !important;
}

.ace_selection {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 0 !important;
}

.ace_cursor {
  border-left-color: var(--accent-black) !important;
}

.ace-jsoneditor {
  color: var(--accent-crimson);
}

.ace_gutter-cell.ace_error,
.ace_icon.ace_error,
.ace_icon.ace_error_fold,
.ace_gutter-cell.ace_security,
.ace_icon.ace_security,
.ace_icon.ace_security_fold {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='14' height='14' rx='7' fill='%23EB3424' style='fill:%23EB3424;fill:color(display-p3 0.9201 0.2049 0.1399);fill-opacity:1;'/%3E%3Cpath d='M5.875 5.875L10.125 10.125M10.125 5.875L5.875 10.125' stroke='white' style='stroke:white;stroke-opacity:1;' stroke-width='0.75' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-position: 2px center !important;
}

.ace_fold-widget {
  display: none !important;
}

.ace_tooltip {
  min-height: unset !important;
  box-shadow:
    0px 32px 40px 6px rgba(0, 0, 0, 0.02),
    0px 12px 32px 0px rgba(0, 0, 0, 0.02),
    0px 24px 32px -8px rgba(0, 0, 0, 0.02),
    0px 8px 16px -2px rgba(0, 0, 0, 0.02),
    0px 0px 0px 1px rgba(0, 0, 0, 0.04);
  border: 0 !important;
  padding: 4px 8px 4px 4px;
  @apply bg-accent-white rounded-12;
  display: none !important;
}

.ace_tooltip .ace_icon {
  margin-right: 4px;
}

textarea.jsoneditor-text.ace_editor,
.ace-jsoneditor.ace_editor {
  @apply !font-mono !text-mono-medium;
}
