/* Custom Font Faces */
@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl/400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl/450.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl/500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Fallback for bolder weights - will use Medium (500) */
@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl/500.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl/500.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
