.core-reliable-bar-primary {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%),
    #ff4c00;

  background: linear-gradient(
      180deg,
      color(display-p3 1 1 1 / 0.06) 0%,
      color(display-p3 1 1 1 / 0) 100%
    ),
    color(display-p3 0.9816 0.3634 0.0984);

  box-shadow:
    0px -6px 12px 0px rgba(255, 0, 0, 0.2) inset,
    0px 6px 12px 0px rgba(255, 77, 0, 0.12),
    0px 3px 6px 0px rgba(255, 77, 0, 0.16),
    0px 2px 4px 0px rgba(255, 77, 0, 0.12),
    0px 1px 1px 0px rgba(255, 77, 0, 0.12),
    0px 0.5px 0.5px 0px rgba(255, 77, 0, 0.16),
    0px 0.25px 0.25px 0px rgba(255, 77, 0, 0.2);

  box-shadow:
    0px -6px 12px 0px color(display-p3 0.9804 0.1127 0.098 / 0.2) inset,
    0px 6px 12px 0px color(display-p3 0.9804 0.3647 0.098 / 0.12),
    0px 3px 6px 0px color(display-p3 0.9804 0.3647 0.098 / 0.16),
    0px 2px 4px 0px color(display-p3 0.9804 0.3647 0.098 / 0.12),
    0px 1px 1px 0px color(display-p3 0.9804 0.3647 0.098 / 0.12),
    0px 0.5px 0.5px 0px color(display-p3 0.9804 0.3647 0.098 / 0.16),
    0px 0.25px 0.25px 0px color(display-p3 0.9804 0.3647 0.098 / 0.2);
}
